.result {
  &__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 52px;
    color: #000000;
    margin-top: 2rem;
  }

  &__progress-tab {
    display: flex;
    align-items: center;

    & p {
      margin-left: 10px;
    }

    & h3 {
      width: 100px;
      margin-right: 70px;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
    }

    & span {
      margin-left: 30px;
    }
  }

  &__res-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
  }

  &__res-list {
    padding: 0;
    list-style: none;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
  }

  button {
    width: 150px;
    border: 1px solid #18a0fb;
    background: #64bcf7;
    color: white;
    border-radius: 20px;
    padding: 1rem 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    transition: 0.3s ease-in-out;
    margin-top: 1rem;

    &:hover {
      background: none;
      border: 1px solid #64bcf7;
      color: black;
      transition: 0.3s ease-in-out;
    }
  }
}
